/__init__.pyc
/basicqsession.pyc
/common.pyc
/contactdb.pyc
/display.pyc
/fetch.pyc
/globalvar.pyc
/mainloop.pyc
/qconf.pyc
/qcontactdb.pyc
/qqbotcls.pyc
/qrcodemanager.pyc
/qsession.pyc
/qterm.pyc
/mysum.pyc
/qslots.pyc
